@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border-width: 1px;
    background-color: inherit;
}

button {
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

::placeholder {
    color: #000;
}

img {
    display: block;
}

body {
    position: relative;
    width: 900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.header {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #fff;
}

.head-logo {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .auth-cont {
    margin-left: 20px;
    color: inherit;
}

.banner {
    background-color: #F3F3F3;
}

.banner-s {
    position: relative;
    min-height: 560px;
    color: #fff;
    background-image: url("../img/sample2.jpg");
    background-position: center;
    background-size: cover;
}

.banner header {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.banner header h1 {
    margin-bottom: 11px;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 39px;
}

.banner header h1 span {
    font-size: 69px;
}

.banner-nav {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

.banner-nav ul {
    display: flex;
    justify-content: space-evenly;
}

.banner-nav a {
    display: block;
    padding: 11px 66px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro {
    position: relative;
    z-index: 2;
    padding: 0 51px 61px;
}

.intro:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(11deg, #F3F3F3 50%, #000 50.5%);
}

.intro p:first-child {
    margin-bottom: 30px;
    margin-left: 50%;
    color: #fff;
}

.intro p:last-child {
    margin-right: 61%;
    font-size: 16px;
}

.intro p span {
    font-weight: 700;
}

.sample {
    position: relative;
}

.sm-det {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #fff;
    box-shadow: inset 1px 1px 300px -109px rgba(0, 0, 0, 1);
    font-size: 12px;
}

.sm-det button {
    margin-top: 16px;
    margin-right: 16px;
    padding: 6px 11px;
    text-align: right;
    color: #F0F0F0;
    border: 1px solid #F0F0F0;
    background-color: rgba(0, 0, 0, 0.5);
}

.sm-det a {
    align-self: center;
    width: 77%;
    padding: 8px;
    text-align: center;
    background-color: rgba(9, 119, 116, 0.8);
    font-weight: 700;
}

.sm-det span {
    align-self: flex-start;
    padding: 21px;
    font-weight: 400;
}

.feature {
    padding: 0 50px 30px;
    background-color: #F3F3F3;
}

.feature__header {
    margin-bottom: 31px;
    text-align: center;
    font-size: 21px;
}

.feature__header span {
    font-weight: 700;
}

.feature-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.feature-item .sample {
    width: 50%;
}

.feature-item img {
    width: 100%;
    height: 100%;
}

.feature-item__text {
    width: 45%;
    padding-top: 21px;
}

.feature-item__text p {
    margin-bottom: 36px;
    text-align: center;
}

.news-list {
    display: flex;
    padding: 25px;
}

.news {
    width: 25%;
    margin-bottom: 26px;
    padding: 0 26px;
}

.news img {
    width: 100%;
    height: 236px;
    object-position: left;
    object-fit: cover;
}

.news .sm-det {
    right: 26px;
    left: 26px;
}

.more-btn {
    margin-bottom: 31px;
    text-align: center;
}

.more-btn button {
    padding: 16px 100px;
    color: #E8E8E8;
    background-color: #097774;
}

.big-footer {
    padding: 31px 21px;
    background-color: #F3F3F3;
}

.big-footer p {
    padding-right: 31px;
    padding-bottom: 21px;
}

.suns-form {
    text-align: end;
}

.suns-form-l {
    margin-right: 16px;
    font-size: 23px;
}

.suns-form-l span {
    font-weight: 700;
}

.suns-form-in {
    margin-right: 6px;
    padding: 10px;
    border-color: #000;
}

.suns-form-btn {
    padding: 13px;
    color: #fff;
    background-color: #097774;
    font-weight: 700;
}

.sm-footer {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
}

.sm-footer span {
    color: #9E9E9E;
}

.sm-footer-nav {
    display: flex;
}

.sm-footer-nav li {
    margin-left: 15px;
}