$tex_color: #000000;
$tex_section_card_color: #ffffff;
$main_bg_color: #ffffff;
$section_bg_color: #3b3f50;
$btn_color: #699900;
$btn_color_hover: #699900;
$underline_color: #14a0c7;
$main_img: url("../img/m-h-day.jpg");
$gradient: linear-gradient(to right, #699900, #2d5bd9);
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$font3: 'Fresca', sans-serif;