$tex_color: #ffffff;
$tex_section_card_color: #ffffff;
$main_bg_color: #21232e;
$section_bg_color: #3b3f50;
$btn_color: #e3ac00;
$btn_color_hover: #699900;
$underline_color: #ff4e33;
$main_img: url("../img/m-h-night.jpg");
$gradient: linear-gradient(to right, #e3ac00, #96324f);
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$font3: 'Fresca', sans-serif;